/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.wraper {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header {
    background-image: url(../img/Vector\ Smart\ Object.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: max-content;
}

.eclipse {
    background-color: rgba(26, 25, 21, 0.35);
    padding: 10px;
    width: 300px;
    min-height: 540px;
    color: #fff;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.login,
.Sing-up {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: flex;
    height: 36px;
    width: 90px;
    transition-property: outline;
    transition-duration: 200ms;
    transition-timing-function: linear;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
}

.login:hover,
.Sing-up:hover {
    outline: solid 2px #fff;
    border-radius: 20px;
}

.login-list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
}

.title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
}

.title-span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: block;
}

.find {
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 14px;
    height: 40px;
    width: 280px;
}

@media (max-width: 767px) {
    header {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 10px;
        margin-bottom: 19px;
    }
    .login,
    .Sing-up {
        margin-bottom: 120px;
    }
    .title {
        margin-bottom: 19px;
    }
    .title-span {
        margin-bottom: 18px;
    }
}